PORT=3000
JWT_SECRET=secret123

# PostgreSQL ulanish ma'lumotlari
PG_USER=poster
PG_PASSWORD=0101
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=aischool

FACEPP_API_KEY=cXUvVBeltHrUr5CuOVQj3hDQPoETJW8l
FACEPP_API_SECRET=v_AG9oGm1lTgAVFlZBdyUneAhJn2jh4j

GEMINI_API_KEY=
TELEGRAM_BOT_TOKEN=
